@tailwind base;
@tailwind components;
@tailwind utilities;

/*Button utility Classes*/
.btn__pop-up {
  position: relative;
  top: 0;
  transition: transform 0.1s ease-in-out;
}
.btn__pop-up:hover {
  transform: translateY(-3px);
}
.btn__pop-up:active {
  transform: translateY(0px);
}
.btn__cartoon-shadow {
  box-shadow: 0px 2px 0px #000000;
  transition: box-shadow 40ms ease-in-out;
}
.btn__cartoon-shadow:hover {
  box-shadow: 0px 4px 0px #000000;
}
.btn__cartoon-shadow:active {
  box-shadow: 0px 1.5px 0px #000000;
}

.pill-button {
  @apply btn__pop-up btn__cartoon-shadow rounded-full border border-solid border-black bg-sky-500 p-3 px-5 font-bold text-white hover:bg-sky-700;
}

.tan-sm-button {
  @apply btn__pop-up btn__cartoon-shadow my-2 rounded-full border border-solid border-black bg-amber-100 px-5 py-1 font-bold text-black hover:bg-amber-500;
}

.green-edit-button {
  @apply btn__pop-up btn__cartoon-shadow rounded-full border border-solid border-black bg-lime-600 px-4 py-2 font-bold text-white hover:bg-lime-700;
  max-width: 11.25rem;
}
